{% extends "mobile.htm" %}
{% block content %}
	<section class="main-message-buttons">
		<div class="good">
			<a href="#">!</a>
		</div>
		<div class="bad">
			<a href="#">?</a>
		</div>
	</section>

	<section class="the-feed">
		<h2>
			<a href="#" id="simple-questions">v</a>
			The Feed
		</h2>
	</section>

<script type="text/html" id="feed-item-template">
	<div class="feed-item" rel="<%- obj.id %>">
		<a href="#">+</a>
		<h3><%- obj.content %></h3>
		<p class="timestamp"><%- obj.timestamp %></p>
	</div>
</script>
{% endblock %}
