{% extends "mobile.htm" %}
{% block content %}
	<section class="main-message-buttons">
		<div class="good">
			<a href="#">!</a>
		</div>
		<div class="bad">
			<a href="#">?</a>
		</div>
	</section>

	<section class="the-feed">
		<h2>
			<a href="#" id="simple-questions">v</a>
			The Feed
		</h2>
		<div>
			<a href="#">+</a>
			<h3>???</h3>
			<p class="timestamp">7:15 &middot; Slide 7</p>
		</div>
		<div>
			<a href="#">+</a>
			<h3>Going too fast</h3>
			<p class="timestamp">7:16</p>
		</div>
		<div>
			<a href="#">+</a>
			<h3>???</h3>
			<p class="timestamp">7:15</p>
		</div>
		<div>
			<a href="#">+</a>
			<h3>Too many acronyms</h3>
			<p class="timestamp">7:20</p>
		</div>
		<div>
			<a href="#">+</a>
			<h3>Going too fast</h3>
			<p class="timestamp">7:16</p>
		</div>
		<div>
			<a href="#">+</a>
			<h3>Too many acronyms</h3>
			<p class="timestamp">7:20</p>
		</div>
	</section>
{% endblock %}
