{% extends "mobile.htm" %}
{% block content %}

	<section class="main-message-buttons">
		<div class="good">
			<a href="#">!</a>
		</div>
		<div class="bad">
			<a href="#">?</a>
		</div>
	</section>

	<section class="the-feed">
		<h2>
			<a href="#" id="simple-questions">v</a>
			The Feed
		</h2>
	</section>

	<section class="comment-simple">
		<div>
			<a href="#" class="question btn">I'm confused</a>
		</div>
		<div>
			<a href="#" class="question btn">Going too fast</a>
		</div>
		<div>
			<a href="#" class="question btn">Too many acronyms</a>
		</div>
		<div>
			<a href="#" id="comment-simple-other" class="btn">Other</a>
		</div>
		<div>
			<a href="#" id="comment-simple-close" class="btn btn-gray">Cancel</a>
		</div>
	</section>

	<section class="comment-complex">
		<div>
			<form>
				<p>
					<textarea id="comment-complex-textarea"  placeholder="Slide # and comments"></textarea>
				</p>
				<p>
					<a href="#" id="comment-complex-submit" class="btn">Submit</a>
				</p>
			</form>
		</div>
	</section>

<input type="hidden" id="session-id" val="{{ session }}" />

<script type="text/html" id="feed-item-template">
	<div class="feed-item" rel="<%- obj.id %>">
		<a href="#">+</a>
		<h3><%- obj.content %></h3>
		<p class="timestamp"><%- obj.timestamp %></p>
	</div>
</script>
{% endblock %}
