{% extends "desktop.htm" %}
{% block content %}
	<section class="create-session">
		<div class="container">
			<div class="row">
				<form class="span8 form-horizontal" method="post">
					<legend>Start a session</legend>

					<input type="hidden" name="timestamp" id="timestamp">

					<div class="control-group">
						<label class="control-label">Professor name</label>
						<div class="controls">
							<input type="text" name="profName">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Class name</label>
						<div class="controls">
							<input type="text" name="className">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Start time</label>
						<div class="controls">
							<div class="input-append" id="start-time-datepicker">
								<input type="text" placeholder="Start time" id="start-time" data-format="yyyy-MM-dd hh:mm:ss" name="startTime">
								<span class="add-on">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">End time</label>
						<div class="controls">
							<div class="input-append" id="end-time-datepicker">
								<input type="text" data-format="yyyy-MM-dd hh:mm:ss" placeholder="End time" id="end-time" name="endTime">
								<span class="add-on">
									<i data-time-icon="icon-time"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-large btn-primary">Start session</button>
					</div>

				</form>
			</div>
		</div>
	</section>

{% endblock %}
