{% extends "desktop.htm" %}
{% block content %}
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
  </script>

<div class="container">
	<div class="row">
		<div class="span12">
			<p>
				<a href="/lecturer">Return to Lecturer dashboard</a>
			</p>
			<div id="visualization" style="width: 800px; height: 400px;"></div>
		</div>
	</div>
</div>
<input type="hidden" id="session-id" value="{{ session }}">
{% endblock %}
