<!--
You are free to copy and use this sample in accordance with the terms of the
Apache license (http://www.apache.org/licenses/LICENSE-2.0.html)
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Google Visualization API Sample</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Date');
      data.addColumn('number', 'Like');
      data.addColumn('string', 'Question');
      data.addColumn('string', 'likes');
      data.addColumn('number', 'Huh?');
      data.addColumn('string', 'title2');
      data.addColumn('string', 'text2');
      data.addRows([
	    [new Date(2013, 3, 2, 12, 3, 30), 6, null, null, 0, null, null],
	    [new Date(2013, 3, 2, 12, 6, 30), 4, null, null, 2, null, null],
        [new Date(2013, 3, 2, 12, 9, 30), 0, null, null, 5, null, null],
        [new Date(2013, 3, 2, 12, 12, 30), 0, null, null, 23, 'What is DDP-4?', '22'],
	    [new Date(2013, 3, 2, 12, 15, 30), 9, null, null, 4, null, null],
        [new Date(2013, 3, 2, 12, 18, 30), 2, null, null, 2, null, null],
        [new Date(2013, 3, 2, 12, 21, 30), 2, null, null, 1, null, null],
        [new Date(2013, 3, 2, 12, 24, 30), 2, null, null, 1, null, null],
        [new Date(2013, 3, 2, 12, 27, 30), 0, null, null, 19, 'Going too fast', '5'],
		[new Date(2013, 3, 2, 12, 30, 30), 7, null, null, 4, null, null],
        [new Date(2013, 3, 2, 12, 33, 30), 3, null, null, 2, null, null],
        [new Date(2013, 3, 2, 12, 36, 30), 0, null, null, 15, 'Chart confusing', '18'],
	    [new Date(2013, 3, 2, 12, 39, 30), 0, null, null, 10, null, null],
        [new Date(2013, 3, 2, 12, 42, 30), 2, null, null, 3, null, null],
        [new Date(2013, 3, 2, 12, 45, 30), 0, null, null, 1, 'slide 35 misspelling', '2'],
        [new Date(2013, 3, 2, 12, 48, 30), 6, null, null, 0, null, null],
        [new Date(2013, 3, 2, 12, 51, 30), 11, null, null, 1, null,null],
      
      ]);
    
      var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
          document.getElementById('visualization'));
      annotatedtimeline.draw(data, {'displayAnnotations': true, 'displayAnnotationsFilter': true, 'fill':25});
    }
    
    google.setOnLoadCallback(drawVisualization);
  </script>
</head>
<body style="font-family: Arial;border: 0 none;">
<div id="visualization" style="width: 800px; height: 400px;"></div>
</body>
</html>
​