<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="my.css" />
        <script src="http://code.jquery.com/jquery-1.7.2.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js">
        </script>
        <script src="my.js">
        </script>
        <!-- User-generated css -->
        <style>
        </style>
        <!-- User-generated js -->
        <script>
            try {

    $(function() {

    });

  } catch (error) {
    console.error("Your javascript has an error: " + error);
  }
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="b" data-role="header">
                <h3>
                    FASTBACK
                </h3>
            </div>
            <div data-role="content">
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-role="list-divider" role="heading">
                        Login:
                    </li>
                    <li data-theme="c">
                        <a href="/fbmode" data-transition="slide">
                            Anonymous
                        </a>
                    </li>
                    <li data-theme="c">
                        <a href="/fbmode" data-transition="slide">
                            Sam Student
                        </a>
                    </li>
                </ul>
				<div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <label for="textarea1">
                    Note:
                </label>
                <textarea name="" id="textarea1" placeholder="">This demo site is designed for a mobile phone browser. If you are viewing on a desktop please reduce the size of your window to view appropriately.</textarea>
            </fieldset>
        </div>
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <h3>
                    Mobile Feedback App
                </h3>
            </div>
        </div>
    </body>
</html>
