<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Landing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://app.divshot.com/themes/spacelab/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-canvas.css">
    <script src="./Landing_files/jquery.min.js"></script><style type="text/css"></style>
    <script src="./Landing_files/bootstrap.min.js"></script>
    <script>
      document.domain = 'divshot.com';
    </script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Fastback</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="#">Home</a> 
              </li>
              <li>
                <a href="/about">About</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit hidden-phone">
        <h1>Welcome to Fastback!</h1>
        <p>Like feedback, but better.</p>
        <p>
          <a class="btn btn-large btn-inverse" href="/about">Learn More<br></a> 
        </p>
      </div>
      <a class="btn btn-large btn-primary btn-block visible-phone" href="/about"><span class="btn-label">Faster, better, feedback.</span></a>
      <div class="row main-features">
        <div class="span4">
          <div class="well">
            <h3>For Students</h3>
            <p>Your questions are important</p>
            <a class="btn btn-primary" href="/student">Demo</a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>For Presenters</h3>
            <p>Tools for teachers and talkers</p>
            <a class="btn btn-info" href="/lecturer">Demo</a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>For Admin</h3>
            <p>Better feedback will change your enterprise</p>
            <a class="btn btn-success"
            href="/admin">Demo<br></a> 
          </div>
        </div>
      </div>
    </div>
  </body>
 </html>