<!doctype html>
<html>
  
  <head>
    <title>signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/themes/spacelab/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <title>signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/themes/spacelab/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-canvas.css">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Fastback</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li>
                <a href="/">Home</a> 
              </li>
              <li class="active">
                <a href="signup">Sign it up!</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<div class="container">
	<h1>Help us help you get better feedback.</h1>
      <div class="row main-features"></div>
		  <form action="/thanks" method="post">
			  <div class="control-group">
				<label class="control-label">Name</label>
				<div class="controls">
				  <input type="text" class="input-medium" name="name"> 
				</div>
				<label class="control-label">Email</label>
				<div class="controls">
				  <input type="text" class="input-medium" name="email"> 
				</div>
				<label class="control-label">Organization</label>
				<div class="controls">
				  <input type="text" class="input-medium" name="org"> 
				</div>
				<div class="controls">
			  <label class="control-label">Tell us something</label>
			</div>
			<textarea></textarea>
			<label class="checkbox" for="checkbox">
			  <input type="checkbox" value="true" id="checkbox" name="checkbox" checked="checked">
			  <span>Contact me about being an early adopter</span> 
			</label>
			<button class="btn btn-info btn-large" type=submit>
			Submit</button>
		</form>
	</div>
</div>
  </body>

</html>